<table>
  <tr>
    <th>Phone Number  &nbsp;</th>
    <th>&nbsp; Message &nbsp;</th>
    <th>&nbsp; status &nbsp;</th>
  </tr>

   <% @histories.each do |history|  %>
  <tr>
    <td><%= history.phone %></td>
    <td><%= history.message %></td>
    <td><%= history.status %></td>
  </tr>
  <% end %>

</table>
